@import '../../../global-styles/vars';

header {
  background-color: $dark-color;
  padding: 1rem;
  border: 1px solid $primary-color;
  box-shadow: 0 0 20px $primary-color;
  .header-title {
    font-weight: bold;
    font-size: 2rem;

    &:before {
      display: inline-block;
      margin-right: 1rem;
      opacity: .5;
      content: '>>';
      font-size: 1.5rem;

    }
  }
}
