<div class="overlay">
  <div class="card">
    <button
      type="button"
      class="close-btn"
      (click)="onModaleClose()"
    >
      X
    </button>
    <div class="card__content">
      <h1>TEST POUET</h1>
      <p>
        Check out that four by four. That is hot. Someday, Jennifer, someday. Wouldn't it be great to take that truck up to the lake. Throw a couple of sleeping bags in the back. Lie out under the stars. I'm gonna be at the dance. No no no this sucker's electrical, but I need a nuclear reaction to generate the one point twenty-one gigawatts of electricity that I need. I'll be at my grandma's. Here, let me give you the number. Bye. Ah. Whoa.
      </p>
      <p>
        Then how am I supposed to ever meet anybody. Never mind that now, never mind that now. Hey boy, are you alright? Yeah, exactly. When could weathermen predict the weather, let alone the future.
      </p>
    </div>

  </div>
</div>
