/* You can add global styles to this file, and also import other style files */
@import 'global-styles/reset';
@import 'global-styles/vars';

article {
  background-color: $dark-color;
  padding: 1rem;
}

.control {
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  button {
    flex-grow: 1;
    font-family: 'Courier New', Courier, monospace;
    background-color: darken($primary-color, 15);
    border: 2px solid $light-color;
    transform: scale(1) rotate(0);
    color: $light-color;
    font-size: 1.2rem;
    font-weight: bold;
    padding: .5rem;
    transition: all .3s cubic-bezier(0.17, 0.84, 0.44, 1);
    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: rotate(10deg);
    }
  }
}

.pop-value {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;

  &.popped {
    animation: popin-from-top .2s cubic-bezier(0.17, 0.84, 0.44, 1) forwards;
  }
}

@keyframes popin-from-top {
  0% {
    transform: translateY(-10px) scale(1.7);
    opacity: 0;
  }

  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
 }
